#map {
    height: 600px;
}

#map .marker-container {
    width: 30px;
    transform: translateX(-28.5%) translateY(50%);
}

#map .marker-text {
	width:100%;
	text-align:center;
	font-weight:600;
	background-color:#444;
	color:#EEE;
	border-radius:0.5rem;
}