{% extends "layouts/main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Our Approach</h4>
            </div>
            <div class="card-body">
                <h6>Digital Identity of Food with Respect to Trustability:</h6>
                <ul>
                    <li>Comprehensive knowledge about food, including ingredient, product owner, place of manufacturing, UPC (universal product code), and storage advice.</li>
                    <li>Transaction traceability about its manufacturing and global supply chain pathway information.</li>
                    <li>Recent safety related issues about the food and its possible recalls, supported by global information sharing.</li>
                </ul>

                <h6>Digital Identity of Food on Blockchain:</h6>
                <ul>
                    <li>Data sovereignty can be executed by food manufacturers.</li>
                    <li>Data is secure and trustable because of the decentralized and immutable properties of blockchain.</li>
                </ul>

                <h6>Trustability of Food:</h6>
                <ul>
                    <li>Trusted digital transaction tracing empowered by blockchain.</li>
                    <li>Recent safety issues of food captured in its digital identity.</li>
                </ul>

                <h6>Usability:</h6>
                <ul>
                    <li>Use "listener" as reverse blockchain oracle to move data from on-chain to off-chain for efficient trustability analytics of food.</li>
                    <li>Consumers just need to scan the QR code using smartphone to find out the trustability of food on demand, anywhere anytime.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}

{% endblock %}