{% extends "layouts/main.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card h-100">
                <div class="card-header pb-0">
                    <h4>Reference Architecture</h4>
                </div>
                <div class="card-body p-5">
                    <div class="text-center">
                        <img src="{{ url_for('static', filename='intro-img/P3-1.png') }}" alt="">
                    </div>

                    <h4 class="mt-5">Implementation</h4>
                    <div class="text-center mt-2">
                        <img src="{{ url_for('static', filename='intro-img/P3-2.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}

{% endblock %}