{% extends "layouts/main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Introduction</h4>
            </div>
            <div class="card-body">
                <p>In this part of the demo, we would like to showcase a few interesting cases on how consumer centric food traceability can help Singaporeans to have more healthy, safe, and trustable food and to discover untrustable food in-time.</p>
                <p>The approach that we use is as follows:</p>
                <ul>
                    <li>Each food product has a digital identity on the Trustable Food Blockchain Platform.</li>
                    <li>
                        Relevant information about food products will be provided by: 
                        <ul>
                            <li>Food manufacturers.</li>
                            <li>Wholesalers or retailers.</li>
                        </ul>
                    </li>
                    <li>Food safety information, in the form of the recalls, will be obtained from the websites and APIs of food agencies from different countries as well as from some volunteer groups who concern about food safety</li>
                    <li>In this demo, there are four main information sources about food recalls. They are from Singapore, USA, Canada, and Hong Kong.</li>
                    <li>
                        Places where food products can be bought in Singapore currently covers:
                        <ul>
                            <li>Three big supermarket chains in Singapore, namely, NTUC, Giant, and Cold Storage.</li>
                            <li>Online ecommerce Shopee.</li>
                            <li>Manufacturer with wholesale office in Singapore.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}

{% endblock %}