{% extends "layouts/main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Product Information</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img class="card-img align-middle" id="product-img" src="https://via.placeholder.com/350x400.png" alt="" style="cursor: pointer;">
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-2">
                                <label>GTIN: </label>
                            </div>
                            <div class="col-md-10" id="product-gtin">

                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-2">
                                <label>GLN: </label>
                            </div>
                            <div class="col-md-10" id="product-gln">

                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-2">
                                <label>Product Name: </label>
                            </div>
                            <div class="col-md-10" id="product-name">
                                
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-2">
                                <label>Recall Status:</label>
                            </div>
                            <div class="col-md-10" id="recall-status"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-2">
                                <label>Ingredients: </label>
                            </div>
                            <div class="col-md-10">
                                <ul id="product-ingredient">
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-12">
        <div class="card">
            <img class="card-img align-middle" id="slide" src="https://via.placeholder.com/300x300.png" alt="" style="cursor: pointer;">
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
        return false;
    };

    function load(gtin) {
        $.ajax({
            type: "GET",
            url: "/api/v1/product/full/" + gtin,
            success: function(data) {
                // Basic Information
                $("#product-name").html(data['name']);
                $("#product-gtin").html(data['gtin']);
                $("#product-gln").html(data['gln']);

                // Ingredients Information
                $("#product-ingredient").html('');
                data['ingredients'].forEach((ingredient) => {
                    $("#product-ingredient").append('<li>' + ingredient + '</li>');
                });

                // Product Image
                $("#product-img").attr('src', '/api/v1/assets/product/' + data['img']);
                $("#product-qr").attr('src', '/api/v1/assets/product/qr/' + data['gtin']);
            }
        });
    }

    $(document).ready(function(){
        var gtin = getUrlParameter('gtin');
        if (gtin == '074570004003'){
            $("#slide").attr('src', '/static/assets/product-slide/case_1.png');
            $("#case-c-1-intro").addClass('active');
            $("#recall-status").html('No recall. The food is trustable');
        } else if (gtin == '070074575131'){
            $("#slide").attr('src', '/static/assets/product-slide/case_2.png');
            $("#case-c-2-intro").addClass('active');
            $("#recall-status").html('No recall. The food is trustable');
        } else if (gtin == '3228020114225'){
            $("#slide").attr('src', '/static/assets/product-slide/case_3.png');
            $("#case-c-3-intro").addClass('active');
            $("#recall-status").html(`
                <p>Recall in Progress</p>
                <ul>
                    <li>Some supermarkets in Singapore already took the food product off the self while some has not at the time of consumer tracing.</li>    
                </ul>
            `);
        } else if (gtin == '711844110038'){
            $("#slide").attr('src', '/static/assets/product-slide/case_4.png');
            $("#case-c-4-intro").addClass('active');
            $("#recall-status").html(`
                <p>Recall but eCommerce still Available</p>
                <ul>
                    <li>Major supermarkets in Singapore already took the food product off the shelf, but the product is still available from eCommerce store (e.g. Shopee.com) at the time of consumer tracing.</li>    
                </ul>
            `);
        } else if (gtin == '024182003642'){
            $("#slide").attr('src', '/static/assets/product-slide/case_5.png');
            $("#case-c-5-intro").addClass('active');
            $("#recall-status").html(`
                <p>Proactive recall possible with information sharing</p>
                <ul>
                    <li>Major sale channels in Singapore took the food product off the shelf, but some wholesaler still sells the product. More interestingly, the recall time from different food agencies is different, making proactive consumer choices for trustable food possible</li>    
                </ul>
            `);
        } else if (gtin == '8998866202404'){
            $("#slide").attr('src', '/static/assets/product-slide/case_6.png');
            $("#case-c-6-intro").addClass('active');
            $("#recall-status").html(`
                <p>Recall - Non-Trustable Food with Global Traceability</p>
                <ul>
                    <li>Major supermarkets in Singapore already took the food product off the shelf, but the product is still available from eCommerce store (e.g. Shopee.com) at the time of consumer tracing.</li>
                    <li>The food product has its own QR code that provides the global traceability information about its supply chain.</li>
                    <li>In other words, global food traceability might not provide consumers with enough information and alerts about food trustability.</li>
                </ul>
            `);
        }

        load(gtin);
    });
</script>
{% endblock %}