{% extends "layouts/main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Project Description</h4>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img src="{{ url_for('static', filename='intro-img/PSFA-Description.png') }}" class="w-75 h-75" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}

{% endblock %}