{% extends "layouts/main.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card h-100">
                <div class="card-header pb-0">
                    <h4>Global Supply Chain Traceability Using Fishery as an Example</h4>
                </div>
                <div class="card-body p-5">
                    <ul>
                        <li><b class="text-danger">Traceability</b> is defined as the ability to systematically identify a unit of production, track its location, and describe any treatments or transformations at all stages of production, processing, and distribution (Magera and Beaton 2009).</li>
                        <li>For seafood, end-to-end traceability also implies that a consumer unit of seafood at a restaurant or retailer can be traced throughout the supply chain back to its point of harvest by a vessel or on a farm.</li>
                        <li>It is now an important and mandatory matter for companies in the global supply chain ecosystem of fishery and seafood products.</li>
                        <li>This project initiative <b class="text-danger">focuses on the external traceability in seafood supply chain!</b></li>
                    </ul>
                    <div class="text-center mt-3">
                        <img src="{{ url_for('static', filename='intro-img/P1-1.png') }}" alt="" class="w-25 h-25">
                    </div>
                    <h4 class="mt-3">Importance of Fishery/Seafood Traceability</h4>
                    <ul>
                        <li>Food safety</li>
                        <li>Mislabeling and fraud</li>
                        <li>Illegal, unreported, and unregulated fishing</li>
                        <li>Fishery and aquaculture improvement projects</li>
                        <li>Marketing and promotion</li>
                        <li>Sustainability commitments, such as environmental, marine, and climate impacts</li>
                        <li>Regulatory requirements (mandatory)</li>
                        <li>Assurance in supply-chain, e.g. delivery logistics of fishery and seafood products</li>
                        <li>Human rights and labor abuse</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}

{% endblock %}