{% extends "layouts/main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Objective of this Project</h4>
            </div>
            <div class="card-body">
                <p>To demonstrate how privacy enhanced and secure data store can promote trusted digital transaction tracing for trustable food:</p>
                <ul>
                    <li>From the recall perspective, transaction traceability is possible through the global supply chain pathway, with collaboration among stakeholders in the ecosystem.</li>
                    <li>From the consumer perspective, consumer can find out the “trustability” of food through easy QR code scanning using smartphones.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}

{% endblock %}