{% extends "layouts/main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Brief Introduction to Blockchain</h4>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img src="{{ url_for('static', filename='intro-img/PSFA-1.png') }}" alt="">
                </div>
                <p class="mt-2">Blockchain, being a shared and distributed ledger, is a disruptive technology to support digital transformation by providing an immutable and trust data store and supporting data sovereignty. Disruption happens when blockchain is used for food safety.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}

{% endblock %}