{% extends "layouts/main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Demonstration Cases</h4>
            </div>
            <div class="card-body">
                <p>The cases that we want to showcase are as follows:</p>
                <ul>
                    <li>
                        Case 1: No Recall
                        <ul>
                            <li>Product Name: HÃ¤agen-Dazs Vanilla Pint</li>
                            <li>The food is trustable</li>
                        </ul>
                    </li>
                    <li>
                        Case 2: No Recall
                        <ul>
                            <li>Product Name: Similic Alimentum 1 eyeQ</li>
                            <li>The food is trustable</li>
                        </ul>
                    </li>
                    <li>
                        Case 3: Recall in Progress
                        <ul>
                            <li>Product Name: Sainte maure Kitsejuust</li>
                            <li>Some supermarkets in Singapore already took the food product off the self while some has not at the time of consumer tracing.</li>
                        </ul>
                    </li>
                    <li>
                        Case 4: Recall but eCommerce still Available
                        <ul>
                            <li>Product Name: ABC Sweet Soy Sauce</li>
                            <li>Major supermarkets in Singapore already took the food product off the shelf, but the product is still available from eCommerce store (e.g. Shopee.com) at the time of consumer tracing.</li>
                        </ul>
                    </li>
                    <li>
                        Case 5: Proactive Recall with Information Sharing
                        <ul>
                            <li>Product Name: Eden Brand Organic Apple Juice</li>
                            <li>Major sale channels in Singapore took the food product off the shelf, but some wholesaler still sells the product. More interestingly, the recall time from different food agencies is different, making proactive consumer choices for trustable food possible.</li>
                        </ul>
                    </li>
                    <li>
                        Case 6: Recall for Non-Trustable Food with Global Traceability
                        <ul>
                            <li>Product Name: Mie Sedaap Cup Noodle Spicy Chicken</li>
                            <li>Major supermarkets in Singapore already took the food product off the shelf, but the product is still available from eCommerce store (e.g. Shopee.com) at the time of consumer tracing.</li>
                            <li>The food product has its own QR code that provides the global traceability information about its supply chain.</li>
                            <li>In other words, global food traceability might not provide consumers with enough information and alerts about food trustability.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}

{% endblock %}