{% extends "layouts/main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Self-Sovereign Identity Implementation and Results</h4>
            </div>
            <div class="card-body">
                <h4>Example: Digital Identity of Eden Organic Apple Juice 1.82 L</h4>
                <div class="text-center mt-3">
                    <img src="{{ url_for('static', filename='intro-img/PSFA-SSI.png') }}" alt="" class="h-75 w-75">
                </div>
                <p class="mt-3">Uniqueness of Solution:</p>
                <ul>
                    <li>Consumer-centric  traceability of trustable food, anytime anywhere.</li>
                    <li>In-time information sharing for pro-active food safety related actions.</li>
                    <li>Supply-chain traceability and consumer-initiated traceability working together while maintaining their independence.</li>
                    <li>Efficient and effective AI-on-Blockchain solution</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}

{% endblock %}