{% extends "layouts/main.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card h-100">
                <div class="card-header pb-0">
                    <h4>GS1 Global Traceability Standard</h4>
                </div>
                <div class="card-body p-5">
                    <ul>
                        <li>Define a minimum set of traceability requirements within business processes to achieve full chain traceability, independent of any technology.</li>
                        <li>One of the most popular standards in fishery traceability.</li>
                    </ul>
                    <div class="text-center mt-3">
                        <img src="{{ url_for('static', filename='intro-img/P2-1.png') }}" alt="">
                    </div>
                    <h4 class="mt-3">What to Track and Trace</h4>
                    <b class="mt-3">The identification keys:</b>
                    <ul>
                        <li><b class="text-danger">GTIN (Global Trade Item Number): </b> is a 14-digit GS1 Identification Key used to identify loose or pre-packed trade items at any stage of the supply chain up to the end consumer.</li>
                        <li><b class="text-danger">Batch/lot number and serial number: </b> Batch/lot number and serial number are GTIN extensions, the combination of the GTIN and batch/lot number and/or serial number is the minimum requirements for traceability.</li>
                    </ul>
                    <p class="mt-3"><i>Which</i> stakeholders can assign GTIN?</p>
                    <ul>
                        <li>Fish famer / Fishing company: raw product</li>
                        <li>Processor: customer product, processed product</li>
                        <li>Distributor / Wholesaler: customer product</li>
                        <li>Retailer: store-processed product</li>
                    </ul>
                    <b class="mt-3">The identification keys:</b>
                    <ul>
                        <li><b class="text-danger">SSCC (Serial Shipping Container Code):</b> is intended for use in transport and logistics processes. It provides a unique serial number that can be used to identify the logistic units (e.g., a case, carton, pallet, or air cargo container) in a shipment.</li>
                    </ul>
                    <b class="mt-3">For parties or locations:</b>
                    <ul>
                        <li><b class="text-danger">GLN: A Global Location Number (GLN)</b> is a unique identification number to identity parties (legal entity and functions) or locations (physical or digital locations). </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card h-100">
                <div class="card-header pb-0">
                    <h4>Data to be Tracked and Traced</h4>
                </div>
                <div class="card-body p-5">
                    <p>
                        To ensure that captured and recorded data can be interpreted by all supply chain partners, <b>Key Data Elements (KDEs)</b> will be captured from each CTE.
                    </p>
                    <table class="table align-item-center mb-0">
                        <tbody>
                            <tr>
                                <td>Who</td>
                                <td>GLN of party</td>
                            </tr>
                            <tr>
                                <td>What</td>
                                <td>GTIN +Batch/lot number, Serial number, Quantity, Net weight; SSCC</td>
                            </tr>
                            <tr>
                                <td>Where</td>
                                <td>GLN of location</td>
                            </tr>
                            <tr>
                                <td>When</td>
                                <td>Date and time of CTE</td>
                            </tr>
                            <tr>
                                <td>Why</td>
                                <td>Business process of CTE</td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="mt-3">
                        <li>Besides, instance/lot master data (ILMD) can also be used to record data about events and provide information about one or more specific instances or batches or lots of a product. Examples: GLN of aquaculture farm details, GLN of fishing vessel, Catch/harvest date(s), Production date, First freeze date, Sell by date, Best before date or Use by date, Catch certificate ID, Country of export, Economic zone, etc.</li>
                        <li>The most widely used form of tracing: <b class="text-danger">barcodes and QR codes.</b></li>
                        <li>GS1 approved data carriers used for fish traceability are EAN/UPC, GS1-128, GS1 Databar and GS1 2D symbols such as GS1 Datamatrix.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card h-100">
                <div class="card-header pb-0">
                    <h4>Events under Track and Trace</h4>
                </div>
                <div class="card-body p-5">
                    <div class="text-center">
                        <img src="{{ url_for('static', filename='intro-img/P2-2.png') }}" alt="">
                    </div>
                    <ul class="mt-3">
                        <li>To support traceability, seven critical tracking events (CTEs) are defined in GS1 to collecting and maintaining product information.</li>
                        <li>Critical Tracking Events are records of the completion of a step in the business process in a supply chain, that is critical to record and share, in order to ensure end-to-end traceability.</li>
                        <ul style="list-style-type: square;">
                            <li>CTE1: initial packaging</li>
                            <li>CTE2: initial sale</li>
                            <li>CTE3: receiving</li>
                            <li>CTE4: processing</li>
                            <li>CTE5: packing</li>
                            <li>CTE6: shipping</li>
                            <li>CTE7: final sale</li>
                        </ul>
                        <li>To ensure that captured and recorded data can be interpreted by all supply chain partners, Key Data Elements (KDEs) (i.e., Who, What, When, Where and Why) will be captured from each CTE.</li>
                        <li>Inter-relationship and sequencing of seven critical tracking events (CTEs) are defined in GS1 to ensure end-to-end traceability.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}

{% endblock %}