{% extends "layouts/main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card h-100">
            <div class="card-header pb-0">
                <h4>Project Architecture</h4>
            </div>
            <div class="card-body p-4">
                <h4 class="text-center">Architecture for Trustable Food Traceability Platform</h4>
                <div class="text-center mt-3">
                    <img src="{{ url_for('static', filename='intro-img/P3-1.png') }}" alt="" class="w-75 h-75">
                </div>
                <h4 class="mt-5 text-center">"Listener" as Reverse Blockchain Oracle to Move Data from On-chain to Off-chain for Efficient Traceability and Risk Analysis</h4>
                <div class="text-center mt-3">
                    <img src="{{ url_for('static', filename='intro-img/PSFA-listener.png') }}" alt="" class="w-75 h-75">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}

{% endblock %}