{% extends "layouts/main.html" %}
{% block content %}
<link href="{{ url_for('static', filename='json-viewer/jquery.json-viewer.css') }}" rel="stylesheet">
<h4>Upload/Change Transaction Data</h4>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="upload-tab" data-bs-toggle="tab" data-bs-target="#upload" type="button" role="tab" aria-controls="upload" aria-selected="false">Upload File</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="viewer-tab" data-bs-toggle="tab" data-bs-target="#viewer" type="button" role="tab" aria-controls="viewer" aria-selected="true">View Data</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="upload" role="tabpanel" aria-labelledby="upload-tab">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mt-2">
                            <div class="card-header pb-0">
                                <h6>Upload Product to Blockchain</h6>
                            </div>
                            <div class="card-body p-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <input class="form-control" type="file" id="file">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-success" id="upload_btn">Upload File</button>
                                    </div>
                                    <div class="col-md-3">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mt-4">
                            <div class="card-header pb-0">
                                <h6>
                                    Upload Status &nbsp;
                                    <div class="spinner-border spinner-border-sm" role="status" id="loader">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </h6>
                                
                            </div>
                            <div class="card-body p-3" id="result-body">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="viewer" role="tabpanel" aria-labelledby="viewer-tab">
                <div class="card h-100 mt-4">
                    <div class="card-header pb-0">
                        <h6>Blockchain Data Viewer</h6>
                    </div>
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="gtin" placeholder="GTIN">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn bg-gradient-success" id="search-btn">Search</button>
                            </div>
                        </div>
                        <hr class="horizontal dark my-3">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="list-group" id="object-list">
                                    
                                </ul>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='json-viewer/jquery.json-viewer.js') }}"></script>
<script>
    $(document).ready(function(){
        $("#loader").hide();
    });

    $("#upload_btn").click(function(e){
        $("#loader").show();
        var file_data = document.getElementById('file').files[0];
        var form_data = new FormData();                  
        form_data.append('file', file_data);
        
        var task_id = "";
        $("#result-body").html('');
        
        $.ajax({
            type: "POST",
            url: "/api/v1/blockchain/product",
            data: form_data,
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
                task_id = data['task_id'];
                document.getElementById('file').value = null;
                var interval = setInterval(function(){
                    $.ajax({
                        type: "GET",
                        url: "/api/v1/blockchain/status/" + task_id,
                        success: function(data) {
                            if (data['status'] == 'SUCCESS') {
                                $("#loader").hide();
                                data['result'].forEach(function(row_data){
                                    var row = '<p>Log => Blockchain Transaction Success with Transaction ID: ' + row_data['Txid'] + '</p>' ;
                                    $("#result-body").append(row);
                                });
                                clearInterval(interval); 
                            }
                        }
                    });
                }, 1000);

            }
        });                
    });

    $("#search-btn").click(function(){
        var gtin = $("#gtin").val();
        $.ajax({
            type: "GET",
            url: "/api/v1/product/" + gtin,
            success: function(data) {
                var count = 1;
                $("#object-list").html('');
                data.forEach((obj) => {
                    var row = `
                        <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                            <div class="d-flex flex-column">
                                <pre id="jsonviewer` + count + `"></pre>
                            </div>
                            <div class="ms-auto text-end">
                            
                            </div>
                        </li>
                    `;
                    $("#object-list").append(row);
                    $('#jsonviewer' + count).jsonViewer(obj);
                    count += 1;
                });
                
            }
        });
    });

</script>
{% endblock %}