{% extends "layouts/main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card mt-2">
            <div class="card-header pb-0">
                <h6>Upload File to Blockchain</h6>
            </div>
            <div class="card-body p-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <input class="form-control" type="file" id="file">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-success" id="upload_btn">Upload File</button>
                    </div>
                    <div class="col-md-3">
                        
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <p>To support traceability, the following fields of critical tracking events (CTEs) will be recorded by transactions and they will be uploaded into the blockchain ledger. </p>
                        <p>For each transaction along the traceability path, the data to be uploaded should contain the following fields: <u>(Downloadable CSV Template:</u> <a href="/template/upload" class="text-info">CSV Template</a>)</p>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td><b>Column Name</b></td>
                                    <td><b>Data Type</b></td>
                                    <td><b>Description</b></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>generator_gln</td>
                                    <td>string</td>
                                    <td>the Global Location Number (GLN) of the data generator</td>
                                </tr>
                                <tr>
                                    <td>event_id</td>
                                    <td>string</td>
                                    <td>an identifier of the CTE data</td>
                                </tr>
                                <tr>
                                    <td>event_type</td>
                                    <td>int</td>
                                    <td>a number that specifies the type of the CTE data</td>
                                </tr>
                                <tr>
                                    <td>input_gtin</td>
                                    <td>string</td>
                                    <td>the Global Trade Item Number (GTIN) of the trade item received by the generator from the last event</td>
                                </tr>
                                <tr>
                                    <td>output_gtin</td>
                                    <td>string</td>
                                    <td>the GTIN assigned for the trade item after this event. This GTIN will remain the same as the input GTIN if the trade item does not changed (e.g. processed or repacked)</td>
                                </tr>
                                <tr>
                                    <td>serial_number</td>
                                    <td>string</td>
                                    <td>the serial number of the trade item</td>
                                </tr>
                                <tr>
                                    <td>event_time</td>
                                    <td>ISO date</td>
                                    <td>the time of this CTE</td>
                                </tr>
                                <tr>
                                    <td>event_location</td>
                                    <td>string</td>
                                    <td>the geolocation (i.e., longitude, latitude) where this CTE happens</td>
                                </tr>
                                <tr>
                                    <td>location_name</td>
                                    <td>string</td>
                                    <td>the name of the location</td>
                                </tr>
                                <tr>
                                    <td>company_name</td>
                                    <td>string</td>
                                    <td>the name of the company that generates the data</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card mt-4">
            <div class="card-header pb-0">
                <h6>
                    Upload Status &nbsp;
                    <div class="spinner-border spinner-border-sm" role="status" id="loader">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </h6>
                
            </div>
            <div class="card-body p-4" id="result-body">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function(){
        $("#loader").hide();
    });

    $("#upload_btn").click(function(e){
        $("#loader").show();
        var file_data = document.getElementById('file').files[0];
        var form_data = new FormData();                  
        form_data.append('file', file_data);
        
        $.ajax({
            type: "POST",
            url: "/api/v1/manage/recall",
            data: form_data,
            cache: false,
            contentType: false,
            processData: false,
            success: function(data) {
                $("#loader").hide();
                
                data.forEach(function(row_data){
                    var row = '<p>Log#1 - New data inserted with ID: ' + row_data + '</p>' ;
                    $("#result-body").append(row);
                });
            }
        });
    });


</script>
{% endblock %}