{% extends "layouts/main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card h-100">
            <div class="card-header pb-0">
                <h6>Check Owner Credit</h6>
            </div>
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="owner_id" placeholder="Owner ID" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-outline-primary mb-0" id="search_credit_btn" type="button" id="button-addon2">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row my-4">
    <div class="col-md-12">
        <div class="card h-100">
            <div class="card-header pb-0">
                <h6>Search History</h6>
            </div>
            <div class="card-body p-3">
                <div class="table-responsive p-0">
                    <table class="table mb-0">
                        <thead>
                            <th>Owner ID</th>
                            <th>Credit Value</th>
                        </thead>
                        <tbody id="result">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}

<script>
    $("#search_credit_btn").click(function(){
        var owner_id = $("#owner_id").val();
        $.ajax({
            type: "GET",
            url: "/api/credit/" + owner_id,
            success: function(data) {
                var row_html = '<tr><td>' + data[0]['ID'] + '</td><td>' + data[0]['Value'] + '</td></tr>';
                $("#result").prepend(row_html);
            }
        });
    });
</script>

{% endblock %}