{% extends "layouts/main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5>Product Information</h5>
            </div>
            <div class="card-body" style="height: 300px;">
                <div class="row">
                    <div class="col-md-2">
                        <img class="card-img align-middle" id="product-img" src="https://via.placeholder.com/350x400.png" alt="" style="cursor: pointer;">
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="text-lg">GTIN: </label>
                            </div>
                            <div class="col-md-10" id="product-gtin" class="text-lg">

                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-2">
                                <label class="text-lg">GLN: </label>
                            </div>
                            <div class="col-md-10" id="product-gln" class="text-lg">

                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-2">
                                <label class="text-lg">Product Name: </label>
                            </div>
                            <div class="col-md-10" id="product-name" class="text-lg">
                                
                            </div>
                        </div>
                        <!--<div class="row mt-3">
                            <div class="col-md-2">
                                <label>Ingredients: </label>
                            </div>
                            <div class="col-md-10">
                                <ul id="product-ingredient">
                                    
                                </ul>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body text-center align-middle">
                <img class="" style="width: 300px; height: 300px;" id="product-qr" src="https://via.placeholder.com/300x300.png" alt="" style="cursor: pointer;">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
        return false;
    };

    function load(gtin) {
        $.ajax({
            type: "GET",
            url: "/api/v1/product/full/" + gtin,
            success: function(data) {
                // Basic Information
                $("#product-name").html(data['name']);
                $("#product-gtin").html(data['gtin']);
                $("#product-gln").html(data['gln']);

                // Ingredients Information
                //$("#product-ingredient").html('');
                //data['ingredients'].forEach((ingredient) => {
                //    $("#product-ingredient").append('<li>' + ingredient + '</li>');
                //});

                // Product Image
                $("#product-img").attr('src', '/api/v1/assets/product/' + data['img']);
                $("#product-qr").attr('src', '/api/v1/assets/product/qr/' + data['gtin']);

                // Add Active Class
                if (data['gtin'] == '074570004003') {
                    $("#case-c-1").addClass('active');
                } else if (data['gtin'] == '070074575131') {
                    $("#case-c-2").addClass('active');
                } else if (data['gtin'] == '3228020114225') {
                    $("#case-c-3").addClass('active');
                } else if (data['gtin'] == '711844110038') {
                    $("#case-c-4").addClass('active');
                } else if (data['gtin'] == '024182003642') {
                    $("#case-c-5").addClass('active');
                } else if (data['gtin'] == '8998866200325') {
                    $("#case-c-6").addClass('active');
                }
            }
        });
    }

    $(document).ready(function(){
        var gtin = getUrlParameter('gtin');
        if (gtin){
            load(gtin);
        }
    });

</script>
{% endblock %}