{% extends "layouts/main.html" %}
{% block content %}
<link href="{{ url_for('static', filename='custom/map.css') }}" rel="stylesheet" />
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
          <h5>Product Information</h5>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col-md-4">
                  <img class="card-img align-middle" id="product-img" src="https://via.placeholder.com/350x400.png" alt="" style="cursor: pointer;">
              </div>
              <div class="col-md-8">
                  <div class="row">
                      <div class="col-md-2">
                          <label>GTIN: </label>
                      </div>
                      <div class="col-md-10" id="product-gtin">

                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-md-2">
                          <label>GLN: </label>
                      </div>
                      <div class="col-md-10" id="product-gln">

                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-md-2">
                          <label>Product Name: </label>
                      </div>
                      <div class="col-md-10" id="product-name">
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="row my-4">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card h100">
      <div class="card-header pb-0">
        <div class="row">
          <div class="col-md-8">
            <h5 class="mt-1">Track & Trace Maps</h5>
            <p class="mb-0 font-weight-bold text-sm" id="small-desc"></p>
          </div>
          <div class="col-md-4">
            <!--<div class="input-group">
              <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
              <input type="text" class="form-control" placeholder="Type GTIN here..." id="gtin">
            </div>-->
          </div>
        </div>
        <hr class="bg-dark border-2 border-top">
      </div>
      <div class="card-body p-3">
        <div class="row">
          <div class="col-md-12">
            <div id="map" style="height: 600px; width: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
<div class="row my-4">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card h-100">
      <div class="card-header pb-0">
        <h6>Track Trace Overview</h6>
      </div>
      <div class="card-body p-3">
        <div class="timeline timeline-one-side" id="timeline_list">
          
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
{% endblock %}
{% block js %}

<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

<script>

  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
        }
    }
    return false;
  };

  let map;
  let mapElement;

  var initialView = [39.8283, -98.5795];

  var markerLocations = [
    [29.8283, -96.5795],
    [37.8283, -90.5795],
    [43.8283, -102.5795],
    [48.40, -122.5795],
    [43.60, -79.5795],
    [36.8283, -100.5795],
    [38.40, -122.5795],
  ];

  var companyNames = [];

  //const targetView = [43.8283, -102.5795];
  const zoomLevel = 8;

  var card_template = {
    1: function(gtin, date, location, company, long, lat) {
      return `
        <div class="timeline-block mb-3" data-long="` + long + `" data-lat="` + lat + `" style="cursor: pointer" id="timeline-point">
          <span class="timeline-step">
            <i class="ni ni-compass-04 text-info text-gradient"></i>
          </span>
          <div class="timeline-content">
            <h6 class="text-dark text-sm font-weight-bold mb-0">CTE 1: Fish Catched</h6>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-tag"></i> &nbsp; GTIN: ` + gtin + `</p>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-calendar-grid-58"></i> &nbsp; ` + date + `</p>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-pin-3"></i> &nbsp; ` + company + `, ` + location + `</p>
          </div>
        </div>
      `
    },
    2: function(gtin, date, location, company, long, lat) {
      return `
        <div class="timeline-block mb-3" data-long="` + long + `" data-lat="` + lat + `" style="cursor: pointer" id="timeline-point">
          <span class="timeline-step">
            <i class="ni ni-shop text-danger text-gradient"></i>
          </span>
          <div class="timeline-content">
            <h6 class="text-dark text-sm font-weight-bold mb-0">CTE 2: Auction House</h6>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-tag"></i> &nbsp; GTIN: ` + gtin + `</p>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-calendar-grid-58"></i> &nbsp; ` + date + `</p>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-pin-3"></i> &nbsp; ` + company + `, ` + location + `</p>
          </div>
        </div>
      `
    },
    3: function(gtin, date, location, company, long, lat) {
      return `
        <div class="timeline-block mb-3" data-long="` + long + `" data-lat="` + lat + `" style="cursor: pointer" id="timeline-point">
          <span class="timeline-step">
            <i class="ni ni-delivery-fast text-dark text-gradient"></i>
          </span>
          <div class="timeline-content">
            <h6 class="text-dark text-sm font-weight-bold mb-0">CTE 3: Delivery</h6>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-tag"></i> &nbsp; GTIN: ` + gtin + `</p>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-calendar-grid-58"></i> &nbsp; ` + date + `</p>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-pin-3"></i> &nbsp; ` + company + `, ` + location + `</p>
          </div>
        </div>
      `
    },
    4: function(gtin, date, location, company, long, lat) {
      return `
        <div class="timeline-block mb-3" data-long="` + long + `" data-lat="` + lat + `" style="cursor: pointer" id="timeline-point">
          <span class="timeline-step">
            <i class="ni ni-settings-gear-65 text-warning text-gradient"></i>
          </span>
          <div class="timeline-content">
            <h6 class="text-dark text-sm font-weight-bold mb-0">CTE 4: Processing</h6>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-tag"></i> &nbsp; GTIN: ` + gtin + `</p>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-calendar-grid-58"></i> &nbsp; ` + date + `</p>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-pin-3"></i> &nbsp; ` + company + `, ` + location + `</p>
          </div>
        </div>
      `
    },
    5: function(gtin, date, location, company, long, lat) {
      return `
        <div class="timeline-block mb-3" data-long="` + long + `" data-lat="` + lat + `" style="cursor: pointer" id="timeline-point">
          <span class="timeline-step">
            <i class="ni ni-box-2 text-primary text-gradient"></i>
          </span>
          <div class="timeline-content">
            <h6 class="text-dark text-sm font-weight-bold mb-0">CTE 5: Packing</h6>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-tag"></i> &nbsp; GTIN: ` + gtin + `</p>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-calendar-grid-58"></i> &nbsp; ` + date + `</p>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-pin-3"></i> &nbsp; ` + company + `, ` + location + `</p>
          </div>
        </div>
      `
    },
    6: function(gtin, date, location, company, long, lat) {
      return `
        <div class="timeline-block mb-3" data-long="` + long + `" data-lat="` + lat + `" style="cursor: pointer" id="timeline-point">
          <span class="timeline-step">
            <i class="ni ni-spaceship text-dark text-gradient"></i>
          </span>
          <div class="timeline-content">
            <h6 class="text-dark text-sm font-weight-bold mb-0">CTE 6: Shipping</h6>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-tag"></i> &nbsp; GTIN: ` + gtin + `</p>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-calendar-grid-58"></i> &nbsp; ` + date + `</p>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-pin-3"></i> &nbsp; ` + company + `, ` + location + `</p>
          </div>
        </div>
      `
    },
    7: function(gtin, date, location, company, long, lat) {
      return `
        <div class="timeline-block mb-3" data-long="` + long + `" data-lat="` + lat + `" style="cursor: pointer" id="timeline-point">
          <span class="timeline-step">
            <i class="ni ni-cart text-success text-gradient"></i>
          </span>
          <div class="timeline-content">
            <h6 class="text-dark text-sm font-weight-bold mb-0">CTE 7: Sales</h6>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-tag"></i> &nbsp; GTIN: ` + gtin + `</p>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-calendar-grid-58"></i> &nbsp; ` + date + `</p>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-pin-3"></i> &nbsp; ` + company + `, ` + location + `</p>
          </div>
        </div>
      `
    },
    8: function(gtin, date, location, company, long, lat) {
      return `
        <div class="timeline-block mb-3" data-long="` + long + `" data-lat="` + lat + `" style="cursor: pointer" id="timeline-point">
          <span class="timeline-step">
            <i class="ni ni-box-2 text-success text-gradient"></i>
          </span>
          <div class="timeline-content">
            <h6 class="text-dark text-sm font-weight-bold mb-0">CTE 8: Manufacturer</h6>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-tag"></i> &nbsp; GTIN: ` + gtin + `</p>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-calendar-grid-58"></i> &nbsp; ` + date + `</p>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-pin-3"></i> &nbsp; ` + company + `, ` + location + `</p>
          </div>
        </div>
      `
    },
    9: function(gtin, date, location, company, long, lat) {
      return `
        <div class="timeline-block mb-3" data-long="` + long + `" data-lat="` + lat + `" style="cursor: pointer" id="timeline-point">
          <span class="timeline-step">
            <i class="ni ni-circle-08 text-success text-gradient"></i>
          </span>
          <div class="timeline-content">
            <h6 class="text-dark text-sm font-weight-bold mb-0">CTE 9: Customer</h6>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-tag"></i> &nbsp; GTIN: ` + gtin + `</p>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-calendar-grid-58"></i> &nbsp; ` + date + `</p>
            <p class="text-secondary font-weight-bold text-xs mt-1 mb-0"> <i class="ni ni-pin-3"></i> &nbsp; ` + company + `, ` + location + `</p>
          </div>
        </div>
      `
    }
  }

  function createMap() {
      mapElement = document.getElementById("map");
      map = L.map(mapElement).setView(initialView, zoomLevel);

      L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
          attribution: `&copy;<a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>,
          &copy;<a href="https://carto.com/attributions" target="_blank">CARTO</a>`,
          subdomains: 'abcd',
          maxZoom: 14,
          }
      ).addTo(map);
      map.invalidateSize();
  }

  function numberIcon(count) {
      //let html = '<div class="map-marker"><div>' + iconLibrary + '</div><div class="marker-text">' + count + '</div></div>';
      let html = '<div class="marker-container"><div class="marker-text">' + count + '</div></div>';
      return L.divIcon({
          html,
          className: 'marker-container'
      });
  }

  function createNumber(coord, i) {
      let count = i + 1;
      let icon = numberIcon(count);
      L.marker(coord, {icon}).addTo(map);
  }

  // spawn marker
  async function spawnMarkers() {
      markerLocations.forEach((coord, i, arr) => {
          L.marker(coord).addTo(map); // default marker
          createNumber(coord, i); // number
      });
  }

  async function focusToPosition(pos) {
      //await sleep(2000);
      map.setView(pos, zoomLevel);
  }

  async function drawLines() {
      L.polyline(markerLocations, {color: "#E4E", opacity:0.5}).addTo(map);
  }

  function trace(gtin) {
    $('#timeline_list').html('');
    $.ajax({
          type: "GET",
          url: "/api/v1/trace/full/" + gtin,
          success: function(data) {
              if (data.length > 0) {
                markerLocations = []
                map.off();
                map.remove();
                data.forEach((doc) => {
                    var loc = doc['event_location'].split(',');
                    loc[0] = parseFloat(loc[0]);
                    loc[1] = parseFloat(loc[1]);
                    markerLocations.push(loc);

                    var timeline_html = card_template[doc['event_type']](doc['input_gtin'], doc['event_time'], doc['location_name'], doc['company_name'], loc[0], loc[1]);
                    $("#timeline_list").append(timeline_html);
                });
                initialView = markerLocations[0];
                createMap();
                spawnMarkers();
                drawLines();

                $("#small-desc").html('GTIN: ' + gtin + '</b>');
              } else {
                $("#small-desc").html('GTIN: <b class="text-danger">Not Found!</b>');
              }
          }
      });
  }

  $("#gtin").on('keypress', function(e){
    if (e.which == 13) {
      var gtin = $("#gtin").val();
      trace(gtin)
    }
  });

  $("#timeline_list").on('click', '#timeline-point', function(){
    var long = $(this).data('long');
    var lat = $(this).data('lat');
    focusToPosition([long, lat]);
  });

  function load(gtin) {
        $.ajax({
            type: "GET",
            url: "/api/v1/product/full/" + gtin,
            success: function(data) {
                // Basic Information
                $("#product-name").html(data['name']);
                $("#product-gtin").html(data['gtin']);
                $("#product-gln").html(data['gln']);

                // Product Image
                $("#product-img").attr('src', '/api/v1/assets/product/' + data['img']);
                $("#product-qr").attr('src', '/api/v1/assets/trace/qr/' + data['gtin']);

                // Add Active Class
                if (data['gtin'] == '45645951761593') {
                    $("#case-b-1").addClass('active');
                } else if (data['gtin'] == '29783831418848') {
                    $("#case-b-2").addClass('active');
                } 
            }
        });
    }

  $(document).ready(function(){
    createMap();
    // spawnMarkers();
    // drawLines();
    var gtin = getUrlParameter('gtin');
    if (gtin){
        //alert(gtin);
        trace(gtin);
        load(gtin);
    }
  });
</script>
{% endblock %}