{% extends "layouts/main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5>Product Information</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img class="card-img align-middle" id="product-img" src="https://via.placeholder.com/350x400.png" alt="" style="cursor: pointer;">
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-2">
                                <label>GTIN: </label>
                            </div>
                            <div class="col-md-10" id="product-gtin">

                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-2">
                                <label>GLN: </label>
                            </div>
                            <div class="col-md-10" id="product-gln">

                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-2">
                                <label>Product Name: </label>
                            </div>
                            <div class="col-md-10" id="product-name">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body text-center align-middle">
                <img class="" style="width: 275px; height: 275px;" id="product-qr" src="https://via.placeholder.com/300x300.png" alt="" style="cursor: pointer;">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
        return false;
    };

    function load(gtin) {
        $.ajax({
            type: "GET",
            url: "/api/v1/product/full/" + gtin,
            success: function(data) {
                // Basic Information
                $("#product-name").html(data['name']);
                $("#product-gtin").html(data['gtin']);
                $("#product-gln").html(data['gln']);

                // Product Image
                $("#product-img").attr('src', '/api/v1/assets/product/' + data['img']);
                $("#product-qr").attr('src', '/api/v1/assets/trace/qr/' + data['gtin']);

                // Add Active Class
                if (data['gtin'] == '45645951761593') {
                    $("#case-b-1").addClass('active');
                } else if (data['gtin'] == '29783831418848') {
                    $("#case-b-2").addClass('active');
                } 
            }
        });
    }

    $(document).ready(function(){
        var gtin = getUrlParameter('gtin');
        if (gtin){
            load(gtin);
        }
    });

</script>
{% endblock %}