{% extends "layouts/main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger text-white alert-dismissible fade show" id="recall-alert" role="alert">
            <strong>Warning!</strong> This Product is Being Recalled
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="card h-100">
            <img class="card-img align-middle" id="product-img" src="https://via.placeholder.com/350x400.png" alt="" style="cursor: pointer;">
        </div>
    </div>
    <div class="col-md-10">
        <div class="card h-100">
            <div class="card-header pb-0">
                <h5 id="product-name">ABC Sweet Soy Sauce</h5>
                <small>Product Information: </small>
            </div>
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-md-2">
                        <label class="text-lg">GTIN: </label>
                    </div>
                    <div class="col-md-10">
                        <span id="product-gtin" class="text-lg">711844110038</span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-2">
                        <label class="text-lg">GLN: </label>
                    </div>
                    <div class="col-md-10">
                        <span id="product-gln" class="text-lg">0711844000001</span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-2">
                        <label class="text-lg">Recall Status: </label>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12" id="recall-status"><span class="badge bg-gradient-danger">Recalled</span></div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-2">
                        <label class="text-lg">Ingredients: </label>
                    </div>
                    <div class="col-md-10 text-lg">
                        <ul id="product-ingredient">
                            <li>Sugar</li>
                            <li>Soy Extract</li>
                            <li>Water</li>
                            <li>Salt</li>
                            <li>Caramel Color</li>
                            <li>Citric Acid</li>
                            <li>Xanthan Gum</li>
                            <li>Wheat</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-8">
        <div class="card">
            <div id="map" class="card-img-top" style="height: 600px; width: 100%;"></div>
            <div class="card-body">
                <h4>Company Information</h4>
                <div class="row">
                    <div class="col-md-2">
                        <label class="text-lg">Company Name: </label>
                    </div>
                    <div class="col-md-10">
                        <span id="product-company-name" class="text-lg">Pt. Abc Central Food Industry</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="text-lg">Company Address: </label>
                    </div>
                    <div class="col-md-10">
                        <span id="product-company-address" class="text-lg">P.O. Box 1097</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="text-lg">City: </label>
                    </div>
                    <div class="col-md-10">
                        <span id="product-company-location" class="text-lg">JAKARTA (ID)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header pb-0">
                <h5>Recall Information</h5>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="row">
                    <div class="col-md-12 px-3">
                        <div class="alert alert-success text-white" id="recall-safe-alert" role="alert">
                            <strong>This food is safe</strong> 
                        </div>
                    </div>
                </div>
                <div class="row" id="info-risk">
                    <div class="col-md-3 px-4">Risk Level: </div>
                    <div class="col-md-9" id="recall-risk-level"></div>
                </div>
                <div class="row mt-2" id="info-cause">
                    <div class="col-md-3 px-4">Cause: </div>
                    <div class="col-md-9" id="recall-cause"></div>
                </div>
                <br>
                <div class="table-responsive" id="info-table">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Source</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Recall Date</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Document</th>
                            </tr>
                        </thead>
                        <tbody id="recall-information">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-header pb-0">
                <h5>Product Availability</h5>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Companies</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Availability</th>
                            </tr>
                        </thead>
                        <tbody id="product-availability">
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div>
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/e/e5/Umedium_red.png" class="avatar avatar-sm me-3" alt="xd">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">NTUC</h6>
                                        </div>
                                    </div>
                                </td>
                                <td><span class="badge bg-gradient-success">Available</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div>
                                            <img src="https://upload.wikimedia.org/wikipedia/en/c/c9/Giant_logo.png" class="avatar avatar-sm me-3" alt="xd">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">Giant</h6>
                                        </div>
                                    </div>
                                </td>
                                <td><span class="badge bg-gradient-success">Available</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div>
                                            <img src="https://is3-ssl.mzstatic.com/image/thumb/Purple125/v4/85/eb/5d/85eb5d01-b840-7882-8cb3-fb88323d4b38/source/512x512bb.jpg" class="avatar avatar-sm me-3" alt="xd">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">Cold Storage</h6>
                                        </div>
                                    </div>
                                </td>
                                <td><span class="badge bg-gradient-danger">Unavailable</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div>
                                            <img src="https://i.pinimg.com/originals/6d/b9/31/6db931827443a7455a4b805fe5829820.png" class="avatar avatar-sm me-3" alt="xd">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">Shopee</h6>
                                        </div>
                                    </div>
                                </td>
                                <td><span class="badge bg-gradient-success">Available</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div>
                                            <img src="https://cdn-icons-png.flaticon.com/512/2051/2051493.png" class="avatar avatar-sm me-3" alt="xd">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">Manufacturer</h6>
                                        </div>
                                    </div>
                                </td>
                                <td><span class="badge bg-gradient-success">Available</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}

<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

<script>

    var retailer_img = {
        'NTUC': 'https://upload.wikimedia.org/wikipedia/commons/e/e5/Umedium_red.png',
        'Giant': 'https://upload.wikimedia.org/wikipedia/en/c/c9/Giant_logo.png',
        'Cold Storage': 'https://is3-ssl.mzstatic.com/image/thumb/Purple125/v4/85/eb/5d/85eb5d01-b840-7882-8cb3-fb88323d4b38/source/512x512bb.jpg',
        'Shopee': 'https://i.pinimg.com/originals/6d/b9/31/6db931827443a7455a4b805fe5829820.png',
        'Manufacturer': 'https://cdn-icons-png.flaticon.com/512/2051/2051493.png'
    };

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
        return false;
    };

    function capitalize(word) {
        const lower = word.toLowerCase();
        return word.charAt(0).toUpperCase() + lower.slice(1);
    }

    function handle_recall_cause(cause) {
        cause = cause.replace('_', ' ');
        var words = cause.split(" ");

        var result = "";

        for (var i = 0; i < words.length; i += 1) {
            result = result + capitalize(words[i]) + " ";
        }

        return result.trim();
    }

    let map;
    let mapElement;

    var initialView = [-6.224185, 106.8057165];

    const zoomLevel = 8;

    function createMap() {
        mapElement = document.getElementById("map");
        map = L.map(mapElement).setView(initialView, zoomLevel);

        L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
            attribution: `&copy;<a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>,
            &copy;<a href="https://carto.com/attributions" target="_blank">CARTO</a>`,
            subdomains: 'abcd',
            maxZoom: 14,
        }).addTo(map);
        map.invalidateSize();
    }

    async function spawnMarkers() {
        L.marker(initialView).addTo(map);
    }


    function load(gtin) {
        $.ajax({
            type: "GET",
            url: "/api/v1/product/full/" + gtin,
            success: function(data) {
                // Basic Information
                $("#product-name").html(data['name']);
                $("#product-gtin").html(data['gtin']);
                $("#product-gln").html(data['gln']);

                // Recall Information
                var info_list = ['SG', 'USDA', 'CANADA', 'HK'];

                if (jQuery.isEmptyObject(data['recall'])) {
                    $("#recall-status").html('<span class="badge bg-gradient-success">Safe</span>');
                    $("#recall-alert").hide();
                    $("#recall-safe-alert").show();
                    $("#info-risk").hide();
                    $("#info-cause").hide();
                    $("#info-table").hide();
                } else {
                    $("#recall-status").html('<span class="badge bg-gradient-danger">Recalled</span>');
                    $("#recall-alert").show();
                    $("#recall-safe-alert").hide();

                    var risk_badge = '';

                    if (data['recall']['risk_level'] == 1) {
                        risk_badge = '<span class="badge bg-gradient-danger">High Risk</span>';
                    } else if (data['recall']['risk_level'] == 2) {
                        risk_badge = '<span class="badge bg-gradient-warning">Low Risk</span>';
                    } else if (data['recall']['risk_level'] == 3) {
                        risk_badge = '<span class="badge bg-gradient-primary">Marginal Risk</span>';
                    } else if (data['recall']['risk_level'] == 4) {
                        risk_badge = '<span class="badge bg-gradient-info">Public Health Alert</span>';
                    }

                    var cause_list = [];
                    
                    data['recall']['cause'].forEach((cause) => {
                        cause_list.push(handle_recall_cause(cause));
                    });

                    $("#recall-risk-level").html(risk_badge);
                    $("#recall-cause").html(cause_list.join(', '));

                    info_list.forEach((src) => {
                        target = {};
                        data['recall']['info'].forEach((info) => {
                            if (info['information_src'] == src) {
                                target = info;
                            }
                        });
                        
                        // Row Data
                        var row_data = ``;

                        if (jQuery.isEmptyObject(target)){
                            row_data = `
                                <tr>
                                    <td class="px-3">` + src + `</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                            `;
                        } else {
                            var gtin = getUrlParameter('gtin');
                            if (gtin == '024182003642') {
                                row_data = `
                                    <tr>
                                        <td class="px-3">` + src + `</td>
                                        <td class="text-danger">` + target['recall_date'] + `</td>
                                        <td><a class="btn btn-link text-dark text-sm mb-0 px-0 ms-4" href="` + target['url'] + `"><i class="fas fa-file-pdf text-lg me-1" aria-hidden="true"></i> Link</a></td>
                                    </tr>
                                `;
                            } else {
                                row_data = `
                                    <tr>
                                        <td class="px-3">` + src + `</td>
                                        <td>` + target['recall_date'] + `</td>
                                        <td><a class="btn btn-link text-dark text-sm mb-0 px-0 ms-4" href="` + target['url'] + `"><i class="fas fa-file-pdf text-lg me-1" aria-hidden="true"></i> Link</a></td>
                                    </tr>
                                `;
                            }
                            
                        }

                        $("#recall-information").append(row_data);
                    });

                    
                }

                // Ingredients Information
                $("#product-ingredient").html('');
                data['ingredients'].forEach((ingredient) => {
                    $("#product-ingredient").append('<li>' + ingredient + '</li>');
                });

                // Product Image
                $("#product-img").attr('src', '/api/v1/assets/product/' + data['img']);

                // Company Information
                var location = data['city'] + ' ' + data['country_code'];
                $("#product-company-name").html(data['company_name']);
                $("#product-company-address").html(data['street_address']);
                $("#product-company-location").html(location);

                var loc = data['location'].split(',');
                loc[0] = parseFloat(loc[0]);
                loc[1] = parseFloat(loc[1]);
                initialView = loc;

                createMap();
                spawnMarkers();

                // Product Availability
                $("#product-availability").html('');
                data['retailer_qty'].forEach((doc) => {
                    // Handle Availability
                    var availability_badge = '';
                    if (doc['qty'] == 0) {
                        availability_badge = '<span class="badge bg-gradient-danger">Unavailable</span>';
                    } else {
                        availability_badge = '<span class="badge bg-gradient-success">Available</span>';
                    }

                    var row_format = `
                    <tr>
                        <td>
                            <div class="d-flex px-2 py-1">
                                <div>
                                    <img src="` + retailer_img[doc['retailer']] + `" class="avatar avatar-sm me-3" alt="xd">
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm">` + doc['retailer'] + `</h6>
                                </div>
                            </div>
                        </td>
                        <td>` + availability_badge + `</td>
                    </tr>
                    `;
                    $("#product-availability").append(row_format);
                });
            }
        });
    }

    $(document).ready(function(){
        //createMap();
        //spawnMarkers();
        var gtin = getUrlParameter('gtin');
        if (gtin){
            //alert(gtin);
            load(gtin);
        }
    });

</script>

{% endblock %}